name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Install Apktool
        run: |
          sudo apt-get update
          sudo apt-get install -y apktool

      - name: Build APK
        run: |
          # بناء التطبيق من المجلد الموجود في المستودع
          apktool b Smali-Source-Code -o BEN10_Modded_Unsigned.apk

      - name: Upload Unsigned APK
        uses: actions/upload-artifact@v4
        with:
          name: Unsigned-Mod-APK
          path: BEN10_Modded_Unsigned.apk
